@model Asseco.Models.UserInformation


<form method="post">
    <partial name="_DisplayUserPartial" />
    <div class="container mt-3">
        <input asp-for="Id" hidden />
        <div class="row  offset-3">
            <div class="col-6">
                <a asp-action="Index" class="btn btn-primary w-100">Back</a>
            </div>
            <div class="col-6">
                <button type="submit" asp-action="EditPost" class="btn btn-success w-100">Edit</button>
            </div>
        </div>
    </div>
</form>
        
@section Scripts{

        @{<partial name="_ValidationScriptsPartial" /> }
}

