@model Asseco.Models.UserInformation


<form method="post">
    
    <partial name="_DisplayUserPartial" />

    <div class="container mt-3">
        <input asp-for="Id" hidden />
        <div class="row">
            <div class="col-4">
                <a asp-action="Index" class="btn btn-primary w-100">Back</a>
            </div>
            <div class="col-4">
                <button type="submit" asp-action="EditPost" class="btn btn-success w-100">Edit</button>
            </div>
            <div class="col-4">
                <button type="submit" asp-action="DeletePost" class="btn btn-danger w-100">Delete</button>
                
            </div>
        </div>
    </div>
</form>
              @*  @using(Html.BeginForm("Email","UserInformation", FormMethod.Post, new {enctype = "multipart/form-data"}))
                {
                        <div class="col-4">
                            <input type="submit" value="Send email" class="btn btn-success">
                        </div>
                }*@
